<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons size="small" slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title class="header_title">Add Visitors Requests</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
	<ion-card>
		<ion-card-content class="bglinear cardcontent">
			<ion-list class="bglinear">
				<ion-item class="bglinear2 select-border-o">
					<ion-label class="titlealert">Visitor Types</ion-label>
					<ion-select class="titleselect" placeholder="Select One" #newSelect [(ngModel)]="Types"
						(ionChange)="onChangeX(Types)">
						<ion-select-option *ngFor='let res of types; let i = index'>{{res[i].vtCategory}}
						</ion-select-option>
					</ion-select>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<div class="show_modal" [hidden]=ishidden>
		<a (click)="openModal(description)">Show Description</a>
	</div>

	<ion-card class="title_type" [hidden]=ishidden>
		<p class="t_gaf">Guest Advise Form</p>
		<p class="t_sub">{{label}}</p>
	</ion-card>

	<div [hidden]=ishidden>
		<div class="v_personal">
			<div class="v_title_detail">Unit Owner/SPA/Staff Details</div>
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Unit Owner/SPA Name <ion-text
										color="danger" *ngIf="vtUnitOwnerX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input class="text_input" type="text" [readonly]="isReadonly"
									[(ngModel)]="vtUnitOwner">{{fullname}}</ion-input>
								<!-- <ion-input *ngIf="vtUnitOwnerX == 'checked'" class="text_input checked" type="text"
									[(ngModel)]="vtUnitOwner">{{fullname}}
								</ion-input>
								<ion-input *ngIf="vtUnitOwnerX == 'unchecked'" class="text_input unchecked" type="text"
									[(ngModel)]="vtUnitOwner">{{fullname}}
								</ion-input> -->
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Tower Unit Number <ion-text
										color="danger" *ngIf="vtTowerUnitX == 'checked'">*</ion-text>
								</ion-label>
								<ion-input class="text_input" type="text" [readonly]="isReadonly"
									[(ngModel)]="vtTowerUnit">{{TUN}}</ion-input>
								<!-- <ion-input *ngIf="vtTowerUnitX == 'checked'" class="text_input checked" type="text"
									[(ngModel)]="vtTowerUnit">{{TUN}}</ion-input>
								<ion-input *ngIf="vtTowerUnitX == 'unchecked'" class="text_input unchecked" type="text"
									[(ngModel)]="vtTowerUnit">{{TUN}}</ion-input> -->
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Carpark Slot Number <ion-text
										color="danger" *ngIf="vtCarparkSlotNoX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input class="text_input" type="text" [(ngModel)]="vtCarparkSlotNo">
								</ion-input>
								<!-- <ion-input *ngIf="vtCarparkSlotNoX == 'unchecked'" class="text_input unchecked"
									type="text" [(ngModel)]="vtCarparkSlotNo"></ion-input> -->
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Visitors On-Site Contact Person
									<ion-text color="danger" *ngIf="vtGuestOnSiteX == 'checked'">*</ion-text>
								</ion-label>
								<ion-input *ngIf="vtGuestOnSiteX == 'checked'" class="text_input checked text"
									type="text" #XvtGuestOnSite attr="XvtGuestOnSite" (focusout)="textChange(vtGuestOnSite, XvtGuestOnSite)"
									[(ngModel)]="vtGuestOnSite"></ion-input>
								<ion-input *ngIf="vtGuestOnSiteX == 'unchecked'" class="text_input unchecked text"
									#XvtGuestOnSite (focusout)="textChange(vtGuestOnSite, XvtGuestOnSite)" type="text"
									[(ngModel)]="vtGuestOnSite"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Contact Number <ion-text color="danger"
										*ngIf="vtGuestContactX == 'checked'">*</ion-text>
								</ion-label>
								<ion-input *ngIf="vtGuestContactX == 'checked'" class="text_input checked" type="number"
									[(ngModel)]="vtGuestContact"></ion-input>
								<ion-input *ngIf="vtGuestContactX == 'unchecked'" class="text_input unchecked"
									type="number" [(ngModel)]="vtGuestContact"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>

		<div class="v_personal">
			<div class="v_title_detail">Arrival/Departure Details</div>
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Arrival Date <ion-text color="danger"
										*ngIf="vtArrivalDateX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-datetime *ngIf="vtArrivalDateX == 'checked'" class="text_input checked"
									displayFormat="YYYY-MM-DD" min="{{minDate}}" max="{{maxDate}}"
									[(ngModel)]="vtArrivalDate" (ionChange)="arriveChange(vtArrivalDate)">
								</ion-datetime>
								<ion-datetime *ngIf="vtArrivalDateX == 'unchecked'" class="text_input unchecked"
									displayFormat="YYYY-MM-DD" min="2019-01-01" max="{{maxDate}}"
									[(ngModel)]="vtArrivalDate" (ionChange)="arriveChange(vtArrivalDate)">
								</ion-datetime>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Arrival Time <ion-text color="danger"
										*ngIf="vtArrivalTimeX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-datetime *ngIf="vtArrivalTimeX == 'checked'" class="text_input checked"
									id="vtArrivalTime" displayFormat="h:mm A" picker-format="h:mm A"
									[(ngModel)]="vtArrivalTime" (ionChange)="arriveTimeChange(vtArrivalTime)">
								</ion-datetime>
								<ion-datetime *ngIf="vtArrivalTimeX == 'unchecked'" class="text_input unchecked"
									id="vtArrivalTime" displayFormat="h:mm A" picker-format="h:mm A"
									[(ngModel)]="vtArrivalTime" (ionChange)="arriveTimeChange(vtArrivalTime)">
								</ion-datetime>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Departure Date <ion-text color="danger"
										*ngIf="vtDepartureDateX == 'checked'">*</ion-text>
								</ion-label>
								<ion-datetime *ngIf="vtDepartureDateX == 'checked'" class="text_input checked"
									displayFormat="YYYY-MM-DD" min="{{minDepTime}}" max="{{maxDate}}"
									[(ngModel)]="vtDepartureDate" (ionChange)="departChange(vtDepartureDate)">
								</ion-datetime>
								<ion-datetime *ngIf="vtDepartureDateX == 'unchecked'" class="text_input unchecked"
									displayFormat="YYYY-MM-DD" min="{{minDepTime}}" max="{{maxDate}}"
									[(ngModel)]="vtDepartureDate" (ionChange)="departChange(vtDepartureDate)">
								</ion-datetime>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Departure Time <ion-text color="danger"
										*ngIf="vtDepartureTimeX == 'checked'">*</ion-text>
								</ion-label>
								<ion-datetime *ngIf="vtDepartureTimeX == 'checked'" class="text_input checked"
									id="vtDepartureTime" displayFormat="h:mm A" picker-format="h:mm A"
									[(ngModel)]="vtDepartureTime" (ionChange)="departTimeChange(vtDepartureTime)">
								</ion-datetime>
								<ion-datetime *ngIf="vtDepartureTimeX == 'unchecked'" class="text_input unchecked"
									id="vtDepartureTime" displayFormat="h:mm A" picker-format="h:mm A"
									[(ngModel)]="vtDepartureTime" (ionChange)="departTimeChange(vtDepartureTime)">
								</ion-datetime>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>

		<div class="v_personal">
			<div class="v_title_detail">Primary Visitor Details</div>
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Name of Primary Visitor <ion-text
										color="danger" *ngIf="vtPrimaryVisitorNameX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input *ngIf="vtPrimaryVisitorNameX == 'checked'" class="text_input checked text"
									type="text" #XvtPrimaryVisitorName
									(focusout)="textChange(vtPrimaryVisitorName, XvtPrimaryVisitorName)"
									[(ngModel)]="vtPrimaryVisitorName">
								</ion-input>
								<ion-input *ngIf="vtPrimaryVisitorNameX == 'unchecked'"
									class="text_input unchecked text" type="text" #XvtPrimaryVisitorName
									(focusout)="textChange(vtPrimaryVisitorName, XvtPrimaryVisitorName)"
									[(ngModel)]="vtPrimaryVisitorName">
								</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Nationality <ion-text color="danger"
										*ngIf="vtPrimaryVisitorNationalityX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input *ngIf="vtPrimaryVisitorNationalityX == 'checked'"
									class="text_input checked text" type="text" #XvtPrimaryVisitorNationality
									(focusout)="textChange(vtPrimaryVisitorNationality, XvtPrimaryVisitorNationality)"
									[(ngModel)]="vtPrimaryVisitorNationality"></ion-input>
								<ion-input *ngIf="vtPrimaryVisitorNationalityX == 'unchecked'"
									class="text_input unchecked text" type="text" #XvtPrimaryVisitorNationality
									(focusout)="textChange(vtPrimaryVisitorNationality, XvtPrimaryVisitorNationality)"
									[(ngModel)]="vtPrimaryVisitorNationality">
								</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">ID Proof Details <ion-text
										color="danger" *ngIf="vtPrimaryVisitorIDProofDetailsX == 'checked'">*</ion-text>
								</ion-label>
								<ion-input *ngIf="vtPrimaryVisitorIDProofDetailsX == 'checked'"
									class="text_input checked" type="text" [(ngModel)]="vtPrimaryVisitorIDProofDetails">
								</ion-input>
								<ion-input *ngIf="vtPrimaryVisitorIDProofDetailsX == 'unchecked'"
									class="text_input unchecked" type="text"
									[(ngModel)]="vtPrimaryVisitorIDProofDetails"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Contact Number <ion-text color="danger"
										*ngIf="vtPrimaryVisitorContactNoX == 'checked'">*</ion-text>
								</ion-label>
								<ion-input *ngIf="vtPrimaryVisitorContactNoX == 'checked'" class="text_input checked"
									type="number" [(ngModel)]="vtPrimaryVisitorContactNo"></ion-input>
								<ion-input *ngIf="vtPrimaryVisitorContactNoX == 'unchecked'"
									class="text_input unchecked" type="number" [(ngModel)]="vtPrimaryVisitorContactNo">
								</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Email Address <ion-text color="danger"
										*ngIf="vtPrimaryVisitorEmailAddressX == 'checked'">
										*</ion-text>
								</ion-label>
								<ion-input *ngIf="vtPrimaryVisitorEmailAddressX == 'checked'"
									class="text_input checked email" type="email"
									[(ngModel)]="vtPrimaryVisitorEmailAddress">
								</ion-input>
								<ion-input *ngIf="vtPrimaryVisitorEmailAddressX == 'unchecked'"
									class="text_input unchecked email" type="email"
									[(ngModel)]="vtPrimaryVisitorEmailAddress">
								</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Address <ion-text color="danger"
										*ngIf="vtPrimaryVisitorAddressX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input *ngIf="vtPrimaryVisitorAddressX == 'checked'" class="text_input checked"
									type="text" [(ngModel)]="vtPrimaryVisitorAddress">
								</ion-input>
								<ion-input *ngIf="vtPrimaryVisitorAddressX == 'unchecked'" class="text_input unchecked"
									type="text" [(ngModel)]="vtPrimaryVisitorAddress">
								</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>

		<div class="v_personal">
			<div class="v_title_detail">Additional Visitor Details</div>
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Count <ion-text color="danger"
										*ngIf="vtAdditionalVisitorCountX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input class="text_input" type="number" id="additional"
									[(ngModel)]="vtAdditionalVisitorCount" (keyup)="countVisit($event)">
								</ion-input>
								<!-- <ion-input *ngIf="vtAdditionalVisitorCountX == 'checked'" class="text_input checked"
									type="number" id="additional" [(ngModel)]="vtAdditionalVisitorCount"
									(keyup)="countVisit($event)">
								</ion-input> -->
								<!-- <ion-input *ngIf="vtAdditionalVisitorCountX == 'unchecked'" class="text_input unchecked"
									type="number" id="additional" [(ngModel)]="vtAdditionalVisitorCount"
									(keyup)="countVisit($event)">
								</ion-input> -->
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row2 nopad">
						<ion-col class="nopad" size="6">
							<p class="font_semibold countAddV">Name</p>
						</ion-col>
						<ion-col class="nopad" size="6">
							<p class="font_semibold countAddV">Type</p>
						</ion-col>
					</ion-row>
					<ion-row class="v-row2" *ngFor="let countX of visitC; let i = index">
						<ion-col size="6">
							<ion-input class="text_input visitVal" type="text" placeholder="Name"
								[(ngModel)]="visitC[i].value">
							</ion-input>
						</ion-col>
						<ion-col size="6">
							<ion-item>
								<ion-select class="selectadult" placeholder="Select One" [(ngModel)]="visitC[i].valueX">
									<ion-select-option class="visitSel" value="Adult">Adult</ion-select-option>
									<ion-select-option class="visitSel" value="Children">Children</ion-select-option>
								</ion-select>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>

		<div class="v_personal">
			<div class="v_title_detail">Vehicle Details</div>
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-label class="text_label" position="stacked">Count <ion-text color="danger"
										*ngIf="vtVehicleDetailsCountX == 'checked'">*
									</ion-text>
								</ion-label>
								<ion-input class="text_input" type="number" id="vehicleCount"
									[(ngModel)]="vtVehicleDetailsCount" (keyup)="countVehicle($event)"></ion-input>
								<!-- <ion-input *ngIf="vtVehicleDetailsCountX == 'checked'" class="text_input checked"
									type="number" id="vehicleCount" [(ngModel)]="vtVehicleDetailsCount"
									(keyup)="countVehicle($event)"></ion-input>
								<ion-input *ngIf="vtVehicleDetailsCountX == 'unchecked'" class="text_input unchecked"
									type="number" id="vehicleCount" [(ngModel)]="vtVehicleDetailsCount"
									(keyup)="countVehicle($event)"></ion-input> -->
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row class="v-row2 nopad">
						<ion-col class="nopad" size="3">
							<p class="font_semibold countAddV">Type</p>
						</ion-col>
						<ion-col class="nopad" size="3">
							<p class="font_semibold countAddV">Make and Model</p>
						</ion-col>
						<ion-col class="nopad" size="3">
							<p class="font_semibold countAddV">Color</p>
						</ion-col>
						<ion-col class="nopad" size="3">
							<p class="font_semibold countAddV">Plate No.</p>
						</ion-col>
					</ion-row>
					<ion-row class="v-row2" *ngFor="let countV of vehicles; let i = index">
						<ion-col size="3">
							<ion-select class="selectadult" placeholder="Select One" [(ngModel)]="vehicles[i].vehType">
								<ion-select-option class="vehCountSel" value="Motorcycle">Motorcycle</ion-select-option>
								<ion-select-option class="vehCountSel" value="Four Wheels">Four Wheels
								</ion-select-option>
							</ion-select>
							<!-- <ion-input class="text_input" placeholder="Type" [(ngModel)]="vehicles[i].vehType"></ion-input> -->
						</ion-col>
						<ion-col size="3">
							<ion-input class="text_input vehicleData" placeholder="Make and Model"
								[(ngModel)]="vehicles[i].vehModel"></ion-input>
						</ion-col>
						<ion-col size="3">
							<ion-input class="text_input vehicleData" placeholder="Color"
								[(ngModel)]="vehicles[i].vehColor"></ion-input>
						</ion-col>
						<ion-col size="3">
							<ion-input class="text_input vehicleData" placeholder="Plate No."
								[(ngModel)]="vehicles[i].vehPlate"></ion-input>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>

		<div class="v_personal">
			<div class="v_title_detail">Additional Remarks <span color="danger" *ngIf="vtRemarksX == 'checked'">*</span>
			</div>
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row">
						<ion-col size="12">
							<ion-item>
								<ion-input *ngIf="vtRemarksX == 'checked'" class="text_input checked" type="text"
									placeholder="Type here..." [(ngModel)]="vtRemarks">
								</ion-input>
								<ion-input *ngIf="vtRemarksX == 'unchecked'" class="text_input unchecked" type="text"
									placeholder="Type here..." [(ngModel)]="vtRemarks">
								</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>

				</ion-grid>
			</div>
		</div>

		<!-- <div class="v_personal">
      <div class="v_title_detail">To Be Filled By Admin</div>
      <div class="v_details">
        <ion-grid class="nopad">
          <ion-row class="v-row">
            <ion-col size="12">
              <ion-item>
                <ion-input class="text_input" type="text" placeholder="Type here..." [(ngModel)]="vtRemarksByAdmin"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div> -->


		<!-- <div class="v_personal">
      <div class="v_title_detail">To Be Filled By Admin</div>
      <div class="v_details">
        <ion-grid class="nopad">
          <ion-row class="v-row">
            <ion-col size="12">
              <ion-item>
                <div class="remark_admin">
                  <p>Remark: </p>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div> -->

		<div class="v_personal">
			<div class="v_details">
				<ion-grid class="nopad">
					<ion-row class="v-row nopad">
						<ion-col size="12" class="nopad">
							<p class="termsconditions">By clicking the <span class="font_semibold">"I Accept Terms and
									Conditions"</span> button below, I hereby declare that I understand and agree
								to all stipulations herewith and assume full responsibility for my visitors’/guests’
								conduct and actions
								including but not limited to incurred
								monetary penalties, for the duration of their stay. All visitors/guests are to abide by
								the Building
								Policies and Procedures and AURRCC House
								Rules and Regulations. Violators of any of the provisions stipulated in the said
								documents will be
								penalized and are to pay the corresponding
								penalty fee. The Management reserves the right to refuse entry and/or escort erring
								guests out of the
								Property. The Developer/ AURRCC / Property
								Management Office shall not be liable for any untoward incident, accident, injury, loss
								of property, or
								lives that may arise from the guests‘
								stay in Azure Urban Resort Residences.</p>

						</ion-col>
						<ion-col size="12" class="nopad">
							<ion-item>
								<ion-checkbox class="required" color="primary" slot="start" [(ngModel)]="condition">
								</ion-checkbox>
								<ion-label class="text_terms">I Accept Terms and Conditions</ion-label>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>

		<ion-grid class="btns">
			<ion-row class="v-row pt-0">
				<ion-col size="6" class="pt-0">
					<ion-button color="primary" expand="block">Cancel</ion-button>
				</ion-col>
				<ion-col size="6" class="pt-0">
					<ion-button color="primary" expand="block" (click)="submit()">Submit</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>


	</div>

</ion-content>