<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="header_title">Old Tenant Details</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="card-background-page">
    <ion-card>
      <ion-card-header>
        <div class="img_old_tenant"></div>
        <ion-card-subtitle>Hanah Salazar</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-grid class="nopad">
            <ion-row>
              <ion-col size="4" class="nopad">
                <p>Email: </p>
              </ion-col>
              <ion-col size="8" class="nopad">
                <p>email@email.com</p>
              </ion-col>
              <ion-col size="4" class="nopad">
                <p>Contact No.: </p>
              </ion-col>
              <ion-col size="8" class="nopad">
                <p>09123456789</p>
              </ion-col>
              <ion-col size="4" class="nopad">
                  <p>Period: </p>
              </ion-col>
              <ion-col size="8" class="nopad">
                <p>July 1, 2019 to July 2, 2019</p>
              </ion-col>
              <ion-col size="4" class="nopad">
                  <p>Agreement: </p>
              </ion-col>
              <ion-col size="8" class="nopad">
                <p>July 1, 2019 to July 2, 2019</p>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <img class="img_old_tenant" src="/assets/person.png">
          <ion-card-subtitle>Hanah Salazar</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid class="nopad">
              <ion-row>
                <ion-col size="4" class="nopad">
                  <p>Email: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>email@email.com</p>
                </ion-col>
                <ion-col size="4" class="nopad">
                  <p>Contact No.: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>09123456789</p>
                </ion-col>
                <ion-col size="4" class="nopad">
                    <p>Period: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>July 1, 2019 to July 2, 2019</p>
                </ion-col>
                <ion-col size="4" class="nopad">
                    <p>Agreement: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>July 1, 2019 to July 2, 2019</p>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <img class="img_old_tenant" src="/assets/person.png">
            <ion-card-subtitle>Hanah Salazar</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-grid class="nopad">
                <ion-row>
                  <ion-col size="4" class="nopad">
                    <p>Email: </p>
                  </ion-col>
                  <ion-col size="8" class="nopad">
                    <p>email@email.com</p>
                  </ion-col>
                  <ion-col size="4" class="nopad">
                    <p>Contact No.: </p>
                  </ion-col>
                  <ion-col size="8" class="nopad">
                    <p>09123456789</p>
                  </ion-col>
                  <ion-col size="4" class="nopad">
                      <p>Period: </p>
                  </ion-col>
                  <ion-col size="8" class="nopad">
                    <p>July 1, 2019 to July 2, 2019</p>
                  </ion-col>
                  <ion-col size="4" class="nopad">
                      <p>Agreement: </p>
                  </ion-col>
                  <ion-col size="8" class="nopad">
                    <p>July 1, 2019 to July 2, 2019</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <img class="img_old_tenant" src="/assets/person.png">
              <ion-card-subtitle>Hanah Salazar</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-grid class="nopad">
                  <ion-row>
                    <ion-col size="4" class="nopad">
                      <p>Email: </p>
                    </ion-col>
                    <ion-col size="8" class="nopad">
                      <p>email@email.com</p>
                    </ion-col>
                    <ion-col size="4" class="nopad">
                      <p>Contact No.: </p>
                    </ion-col>
                    <ion-col size="8" class="nopad">
                      <p>09123456789</p>
                    </ion-col>
                    <ion-col size="4" class="nopad">
                        <p>Period: </p>
                    </ion-col>
                    <ion-col size="8" class="nopad">
                      <p>July 1, 2019 to July 2, 2019</p>
                    </ion-col>
                    <ion-col size="4" class="nopad">
                        <p>Agreement: </p>
                    </ion-col>
                    <ion-col size="8" class="nopad">
                      <p>July 1, 2019 to July 2, 2019</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card-content>
          </ion-card>
      
</ion-content>
