<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="header_title">Parking Details</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>R-PG-1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid class="nopad">
              <ion-row>
                <ion-col size="4" class="nopad">
                  <p>Status: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>Paid</p>
                </ion-col>
                <ion-col size="4" class="nopad">
                    <p>Building: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>Santorini</p>
                </ion-col>
                <ion-col size="4" class="nopad">
                  <p>Floor: </p>
                </ion-col>
                <ion-col size="8" class="nopad">
                  <p>1st Floor</p>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>
</ion-content>
