<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="header_title">Amenity List</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
  <p class="identify_unit">UNIT {{unit_no}}</p>
  <div class="booking_div">
    <ion-chip class="btn_booking_list" (click)="openBookingList()">
      <ion-icon name="list"></ion-icon>
      <ion-label>Booking List</ion-label>
    </ion-chip>
  </div>
  <ion-list *ngFor="let res of amenType; let i = index">
    <ion-item (click)="openAzureBeach(res[i].amenities_code, res[i].pName)">
      <ion-avatar class="avatar_amenities" slot="start">
          <img class="img_amenity" src="/assets/azurebeach.png">
      </ion-avatar>
      <ion-label class="label_div">
        <h2>{{res[i].pName}}</h2>
        <p class="text_sublabels"><ion-icon name="fitness"></ion-icon> {{res[i].pCategory}}</p>
        <p class="text_sublabels"><ion-icon name="people"></ion-icon> {{res[i].capacity}} </p>
        <img class="img_arrow" src="assets/arrow_right_blue.png">
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
