
<ion-header>
    <ion-toolbar color="primary">
        <!-- <ion-button class="btn_back" routerLink="/tabs/tab1/unit-details"></ion-button> 
        <img class="imgBack" src="/assets/arrow_left_white.png"> -->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">Resident Lists</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="card-background-page">
    <ion-list>
        <ion-item (click)="openResidentDetailsIndividual()">
          <ion-avatar slot="start">
              <img src="/assets/person.png">
            </ion-avatar>
            <ion-label>
              <h2>Hanah Salazar</h2>
              <p class="text_gender"><img class="img_gender" src="/assets/gender_icon.png"> Female</p>
              <p class="text_address"><img class="img_address" src="/assets/address_icon.png"> South Korea</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="openResidentDetailsIndividual()">
            <ion-avatar slot="start">
              <img src="/assets/person.png">
            </ion-avatar>
            <ion-label>
              <h2>Hanah Salazar</h2>
              <p class="text_gender"><img class="img_gender" src="/assets/gender_icon.png"> Female</p>
              <p class="text_address"><img class="img_address" src="/assets/address_icon.png"> South Korea</p>
            </ion-label>
          </ion-item>

          <ion-item (click)="openResidentDetailsIndividual()">
              <ion-avatar slot="start">
                <img src="/assets/person.png">
              </ion-avatar>
              <ion-label>
                <h2>Hanah Salazar</h2>
                <p class="text_gender"><img class="img_gender" src="/assets/gender_icon.png"> Female</p>
                <p class="text_address"><img class="img_address" src="/assets/address_icon.png"> South Korea</p>
              </ion-label>
            </ion-item>

            <ion-item (click)="openResidentDetailsIndividual()">
                <ion-avatar slot="start">
                  <img src="/assets/person.png">
                </ion-avatar>
                <ion-label>
                  <h2>Hanah Salazar</h2>
                  <p class="text_gender"><img class="img_gender" src="/assets/gender_icon.png"> Female</p>
                  <p class="text_address"><img class="img_address" src="/assets/address_icon.png"> South Korea</p>
                </ion-label>
              </ion-item>

              <ion-item (click)="openResidentDetailsIndividual()">
                  <ion-avatar slot="start">
                    <img src="/assets/person.png">
                  </ion-avatar>
                  <ion-label>
                    <h2>Hanah Salazar</h2>
                    <p class="text_gender"><img class="img_gender" src="/assets/gender_icon.png"> Female</p>
                    <p class="text_address"><img class="img_address" src="/assets/address_icon.png"> South Korea</p>
                  </ion-label>
                </ion-item>
      </ion-list>
</ion-content>



  
