<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header_title">Azure-Connect</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn_close" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <h1 class="title">Terms & Conditions</h1>
  <p>Azure-Connect is a website and mobile service offered by Azure Urban Resort Residences Condominium Corporation
    (“Azure”) to its members to facilitate
    the dissemination of general information and the management of the common areas.</p>

  <p>The Terms and Conditions <b>(the “T&C”)</b> contained herein form part of the contract between you, your dependents
    and guests, and Azure and its licensors as
    the provider of the services. We therefore advise you to please review these terms and conditions carefully and
    indicate whether you agree or disagree with
    them by clicking on the corresponding box towards the end of this document. <b>Azure reserves the right to modify
      the T&C, its policies, and house rules and
      regulations from time to time. By using Azure-Connect, you expressly accept all terms and conditions contained
      herein in full.</b></p>

  <h3>Intellectual Property Rights</h3>
  <p class="nomargtop"><b>Other than the contents that you own, which you may have opted to include in Azure-Connect,
      Azure and/or its
      licensor own all rights to the intellectual property
      and material contained in Azure-Connect.</b> Azure retain all rights in any software, user and system
    documentation, master and transaction data files, ideas, concepts,
    know-how, processes, development tools, techniques or any other proprietary material or information related to
    Azure-Connect.</p>
  <p>Other than the right to access and use Azure-Connect, users thereof acquire no ownership, title, right or interest
    of any kind in or to Azure-Connect or any information
    or material contained thereon, and that all title, right and interest therein and thereto remains with Azure and its
    licensors.</p>

  <h3>Restrictions</h3>
  <p class="nomargtop">The use of Azure-Connect and any information provided thereon is only for your own personal use.
    <b>Users of this
      Azure-Connect are expressly restricted from doing any of
      the following:</b></p>
  <ul>
    <li>Reproduce, retransmit, disseminate, sell, distribute, republish, broadcast, post, circulate or commercially
      exploit any information in Azure-Connect, in any manner whatsoever;</li>
    <li>Sublicense and/or otherwise commercialize any Azure-Connect material;</li>
    <li>Use in any way that is, or may be, damaging to Azure or impacts user access to this Azure-Connect;</li>
    <li>Use that is contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to
      Azure-Connect, or to any person or business entity;</li>
    <li>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to
      Azure-Connect, or while using Azure-Connect; and</li>
    <li>Using Azure-Connect to engage in any advertising or marketing activity.</li>
  </ul>
  <p>Azure may restrict your access to any feature of Azure-Connect, at any time, in its sole and absolute discretion.
    Your user ID and password are confidential and you
    must maintain confidentiality of such information.</p>

  <h3>Warranties</h3>
  <p class="nomargtop">Azure-Connect is provided “as is” and Azure makes no express or implied representations or
    warranties of any kind
    related to such or the materials contained herein.
    Furthermore, nothing contained on Azure-Connect shall be construed as providing any endorsement or advice to you.
  </p>
  <p>To the fullest extent permissible under applicable law, Azure disclaims any and all representations and warranties,
    express, implied or statutory, including, without
    limitation, all implied warranties of title, non-infringement, merchantability, and fitness for a particular
    purpose, and all representations and warranties (1)
    relating to the adequacy, timeliness, accuracy or completeness of any information on Azure-Connect, (2) that your
    use of Azure-Connect will be uninterrupted, error-free,
    or secure, (3) that defects will be corrected, or (4) that Azure-Connect or the servers on which it is hosted are
    free of viruses or other harmful components. Any information
    contained in Azure-Connect is subject to change at any time without notice.</p>

  <p>Users shall assume total responsibility and risk for their use, access, or reliance on Azure-Connect and any
    information or material provided thereon. All your
    representations, warranties and undertakings shall be deemed to be material and have been relied upon by Azure.
    Consequently, you shall be directly and solely responsible
    for the accuracy of any and all information that you submit in Azure-Connect. They shall survive the execution and
    delivery of this T&C, notwithstanding the consummation of
    the transaction contemplated herein.</p>

  <h3>Limitation of Liability</h3>
  <p class="nomargtop">In no event shall Azure or any of its officers, directors and employees be liable to you for
    anything arising out
    of or in any way connected with your use of this
    Azure-Connect, whether such liability is under contract, tort or otherwise. Azure, including its officers, directors
    and employees, shall not be liable for any indirect,
    consequential or special liability arising out of or in any way related to your use of Azure-Connect. Furthermore,
    Azure shall not be liable for any loss, liability,
    damage or expense arising out of or in connection with the use of Azure-Connect, unless such loss, liability, damage
    or expense shall be proven to result directly from
    the gross and willful misconduct of Azure or its representatives.</p>
  <p>Azure-Connect may contain links to third-party websites or resources. Azure neither controls nor endorses any such
    links to third-party websites, nor has it reviewed
    or approved any such content that appears thereon. You acknowledge and agree that Azure shall not be held
    responsible for the legality, timeliness, accuracy, completeness
    or appropriate nature of any information, data or other content, advertising, products, or services located on or
    through said links or resources, nor for any loss or
    damages caused or alleged to have been caused by your use of, inability to use, or reliance on, any such content,
    information or data.</p>
  <p>Azure shall not be liable for any loss or damage of whatever nature in connection with the implementation of
    transactions covered by this T&C in the following instances:</p>
  <ul>
    <li>Disruption, failure or delay which are due to circumstances beyond the control of Azure, fortuitous events such
      as but not limited to prolonged power outages,
      breakdown in computers and communication facilities, typhoons, public disturbances and calamities, and other
      similar or related cases;</li>
    <li>Loss or damage you may suffer due to theft or unauthorized use of your account, passwords, personal data, or
      violation of other security measures with or without your
      participation; and</li>
    <li>Inaccurate, incomplete or delayed information you received due to disruption or failure of any communication
      facilities</li>
  </ul>

  <h3>Miscellaneous Provisions</h3>
  <ul class="nomargtop">
    <li><b>Severability.</b> If any provision of this T&C is found to be unenforceable or invalid under any applicable
      law, such unenforceability or invalidity shall not
      render this T&C unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the
      remaining provisions herein.</li>
    <li><b>Variation of Terms.</b> Azure is permitted to revise the T&C at any time as it sees fit, and by using
      Azure-Connect, you are expected to review this T&C on a regular
      basis to ensure you understand all terms and conditions governing use of Azure-Connect.</li>
    <li><b>Assignment.</b> Azure shall be permitted to assign, transfer, and subcontract its rights and/or obligations
      under this T&C without any notification or consent required.</li>
    <li><b>Entire Agreement.</b> This T&C, including any legal notices and disclaimers contained in Azure-Connect,
      constitute the entire agreement between Azure and you in relation
      to your use of Azure-Connect, and supersede all prior agreements and understandings with respect thereto.</li>
    <li><b>Governing Law and Jurisdiction.</b> This T&C will be governed by and construed in accordance with the laws of
      the Republic of the Philippines, and you agree to
      submit to the exclusive jurisdiction of the proper courts of Makati City for the resolution of any disputes.</li>
    <li><b>Liquidated Damages.</b> You hereby agree to indemnify and hold harmless Azure from and against any and all
      liabilities, costs, demands, causes of action,
      damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of
      any of the provisions of this T&C.</li>
    <li>In case of breach of any of the provisions of the T&C as well as the warranties and representations stated
      herein, Azure shall be entitled to the amount of
      Two Hundred Thousand Pesos (P200,000.00) as minimum damages, in addition to any other damages which it may be
      entitled under the law, and attorney's fees in
      the amount of One Hundred Thousand Pesos (P100,000.00) in the event that it shall be constrained to engage the
      services of counsel to prosecute its claim.</li>
    <li>Azure reserves the right to amend these T&C at any time without need of prior notice or approval.</li>
  </ul>

  <h2>AZURE URBAN RESORT RESIDENCES CONDOMINIUM CORPORATION PRIVACY STATEMENT</h2>
  <p>Azure Urban Resort Residences Condominium Corporation (“Azure”) is a condominium corporation duly organized under
    the laws of the Philippines, with principal office
    address at Km. 16 West Service Road, South Superhighway, Barangay Marcelo Green, Parañaque City 1700.</p>
  <p>Azure respects your privacy and recognizes the need for appropriate measures to protect and manage your personal
    data. This Privacy Statement aims to assure our
    members and other individuals that we are observing the appropriate level of personal data protection in compliance
    with the standards prescribed by Republic Act No.
    10173, otherwise known as the “Data Privacy Act”.</p>

  <h3>Service Description</h3>
  <p class="nomargtop">Azure is formed and organized in accordance with the provisions of the Condominium Act (RA 4726)
    and the
    Corporation Code of the Philippines (B.P. Blg. 68) for
    the purpose of holding title to and managing the common areas of Azure Urban Resort Residences Condominium (“the
    Project”) and for such other purposes as may be necessary,
    incidental and convenient to the accomplishment of the aforesaid purposes.</p>

  <h3>Personal Information to be Collected</h3>
  <p class="nomargtop">The following personal information are collected from the Data Subjects of the Project:</p>
  <ul>
    <li>Personal contact information which includes your name, address, email address, phone number, or any other
      information that would allow Azure to contact you;</li>
    <li>Demographic information which includes your gender, date of birth, age, civil status, nationality, etc.;</li>
    <li>Non-personal information such as those provided by your device which may include your IP address, geolocation,
      operating system, browser type and version,
      and other machine identifiers, etc.; and</li>
    <li>Concerns including the information that you share with Azure such as your opinions or comments to our services
      when you reach us via our contact center.</li>
  </ul>

  <h3>Collection Method</h3>
  <p class="nomargtop">Your personal information may be collected, directly or indirectly, through any of the following
    means:</p>

  <ul>
    <li>Forms, agreements and other similar or related documents submitted by the Data Subjects;</li>
    <li>Use and log-in to Azure’s website and other web-based platforms thru Third Party web analytics tools, including
      those of third parties’ that use cookies
      to collect anonymous information and data generated in connection with your activities when you visit our network
      of websites;</li>
    <li>During availment of Azure’s services;</li>
    <li>Communications with the Property Management Office, whether in writing, verbally, or thru electronic means;</li>
    <li>Footages from our CCTV cameras;</li>
    <li>From the unit owners, in case you are a guest;</li>
    <li>Personal Information may also be obtained from third parties and other sources which have obtained your prior
      consent for disclosure or when Azure is
      legally allowed to acquire such information.</li>
  </ul>

  <h3>Purpose and Use of Collected Personal Information</h3>
  <p class="nomargtop">Your personal information is collected by Azure for the following purposes:</p>
  <ul>
    <li>To perform functions necessary and incidental to the management of common areas of the Project;</li>
    <li>To assist the unit owners, tenants, and guests (collectively referred to as the “Data Subjects”) in their
      concerns related to the Project;</li>
    <li>To inform you about the activities, projects, programs of Azure;</li>
    <li>To regulate the access of third parties in the Project; and</li>
    <li>To comply with legal and regulatory requirements and perform such other processing that may be required under
      any applicable law or regulation.</li>
  </ul>

  <p>In the course of performing its services and responsibilities, Azure engages the services of third-party service
    providers. In doing so, certain personal
    information are required to be disclosed for legitimate business concerns and as may be necessary to provide you
    with our services. We will never share, sell
    or otherwise disclose your Personal Information to third-parties, except as otherwise stated above or unless
    otherwise permitted under the Data Privacy Law.</p>

  <h3>Storage and Transmission of Personal Information</h3>
  <p class="nomargtop">Organizational, physical and technical security measures are maintained, enforced and implemented
    at all times to
    ensure the integrity, confidentiality and
    security of your Personal Information.</p>
  <p>The security measures of Azure include, but are not limited to the following:</p>

  <ul>
    <li>The access and use of personal information are limited to the extent necessary to deliver the services offered
      and/or made available by Azure;</li>
    <li>Our server is equipped with firewall, data encryption, anti-virus, and other appropriate security controls;</li>
    <li>Access to personal information is restricted to authorized personnel on a need-to-know basis;</li>
    <li>Regular audits are conducted to ensure that personal information is secured and security controls are effective;
    </li>
    <li>The security systems are kept up to date; and</li>
    <li>The personnel are regularly oriented regarding the appropriate level of data privacy protection.</li>
  </ul>
  <p>Your personal information is kept in a secure facility within the Project.</p>

  <h3>Method of Use </h3>
  <p class="nomargtop">Your personal information may be used as is or further processed for the purpose of performing
    the obligations and
    responsibilities of Azure.</p>

  <h3>Retention Period</h3>
  <p class="nomargtop">Your personal information will be retained by Azure until it is no longer necessary for the
    fulfillment of the
    purpose/s for which it was obtained and
    for an additional period of ten (10) years thereafter. After which, the data will be anonymized and utilized solely
    for statistical purposes.</p>

  <h3>Rights of Data Subject</h3>
  <p class="nomargtop">In accordance with the Data Privacy Law, we shall respect and uphold your right to be informed,
    to object, to
    access, correct, to rectification,
    erasure and blocking, to data portability, to file a complaint, and to damages. For your easy reference, kindly
    refer to the National Privacy Commission’s
    webpage at https://privacy.gov.ph/know-your-rights/ for more information on your rights.</p>
  <p>If you wish to exercise the said rights, you may contact our Data Privacy Officer thru: dpa@azureresidences.com.ph.
  </p>
  <p>Azure hereby reserves the right to amend this Privacy Statement to comply with government and regulatory
    requirements, to adapt to new technologies, to align
    with industry practices, or for other legitimate purposes related to the management of the common areas of the
    Project. Rest assured that you will be notified
    if the amendments are significant.</p>

  <h4>General Rule</h4>
  <ul class="nomargtop">
    <li>The Admin and Resident Relations Officer (RRO) are the only authorized person to Add/Edit/Update Users
      (Owners/Tenants/Occupants) to the AzureAccess system.</li>
    <li>Unit Owners/Tenants are not allowed to edit/delete information on their account. Contact Admin or RRO for any
      information update.</li>
    <li>NO OVERLAPPING OF BOOKINGS.</li>
    <li>Unit Owners/Tenants should provide valid email IDs to the Admin/RRO.</li>
    <li>NO APPROVED GUEST ADVISE FORM PRESENTED BY GUEST(S), NO ID, NO ENTRY.</li>
    <li>Unit Owners cannot book Guests on Siglo-managed units.</li>
  </ul>
  <h4>Guest Registration & Guest Arrival Rules</h4>
  <ul class="nomargtop">
    <li>The authorized persons to book or schedule visits for guest(s) are the Unit Owners, and registered Tenants.</li>
    <li>Booking requests for Guests are applicable for both “<b>Staycation</b>” and “<b>Day Pass</b>” Guests.</li>
    <li>Only booked guests can enter Azure premises on the day of the arrival. Adding or changing guest(s)’ names are
      <b>NOT ALLOWED</b>.</li>
    <li>Requests should be submitted at least 2-3 days prior to the visit date.</li>
    <li>The limit of the number of guests per unit type should be <b>strictly followed</b> in the online booking which
      are as follows:</li>
    <li>
      <ul>
        <li>1BR = 4 persons in total including Residents</li>
        <li>2BR = 6 persons in total including Residents</li>
        <li>3BR = 8 persons in total including Residents</li>
      </ul>
    </li>
    <li>The Unit Owners/Tenants must attach a photo/scanned copy of their Primary Visitor’s/Guest’s <b>Passports</b> for
      <b>Foreigners</b> and <b>Government
        Issued IDs</b> for <b>locals</b>.</li>
    <li>All requests will be submitted to the Admin(PMO) and subject for approval.</li>
    <li>Admin(PMO) will follow certain rules in approving/disapproving requests which include status in the payment of
      monthly dues, and others.</li>
    <li>The response to the requests (either “Approved” or “Disapproved”) is expected maximum of 3 days after the
      submission of request.</li>
    <li>Once a request is approved, the Unit Owner/Tenant and the Primary Guest will receive email notifications. The
      PDF file attached to the email
      notification sent to the Primary Guest can be printed and used as the confirmation receipt.</li>
    <li>Once a request is disapproved, only the Unit Owner/Tenant will receive an email notification and he/she can file
      a new request for his/her Guest(s).</li>
    <li>The Unit Owner/Tenant must provide an on-site Contact Person, Name and Contact Number for his/her guests to
      contact upon arrival and for the duration of
      their stay in Azure. They are also responsible in informing their guests that their presence at Azure is subject
      to the House Rules and Regulations of AURCC.</li>
    <li>Email notification is sent to the Unit Owner/Tenant’s email once Security guard at main entrance
      <b>Checked-In</b> Guest(s) and once <b>Checked-Out</b> by the Tower Concierge.</li>
  </ul>

  <h3>SWIMMING POOL RULES:</h3>
  <ul class="nomargtop">
    <li>Operating hours are strictly from 7am to 7pm for the Wave pool and Children's Beach while the Lap Pool is open
      7am to 9pm.</li>
    <li>The swimming pool is reserved for use of Azure residents and their endorsed guests through the PMO.</li>
    <li>All pool users are required to register at the registration desk. Each swimmer will be issued a disposable
      wristband. Guest swimmers (regardless of age)
      exceeding the maximum number of FREE wristband per unit (1BR = 2 FREE; 2BR = 4 FREE; 3BR = 6 FREE) must pay Php
      250 per person per shift per day. Strictly, NO REFUND.</li>
    <li>Pool users are advised to take all necessary safety precautions. The Developer / Condominium Corp. / Property
      Administration Office shall not be liable for any
      untoward incident, accident, injury or death that may arise from the use of the swimming pool.</li>
    <li>Children under age of twelve (12) must be accompanied by adults at all times. Parents/Guardians must accompany
      and supervise their children while in the pool /
      pool area and remain with them for the duration thereof. Children are not allowed to swim wearing disposable or
      cloth diapers.</li>
    <li>Proper swimwear is required. All persons should wear clothing designed as swim wear so as to prevent damage to
      the swimming pool filter system.</li>
    <li>All types of foods and drinks shall not be strictly prohibited in the pool and pool deck area.</li>
    <li>Water sports are not allowed.</li>
    <li>Expectorating or blowing of nose in the pool is strictly prohibited.</li>
    <li>Persons observed by the pool attendants/ Lifeguards to  have a contagious viral or skin disease, open wounds,
      cold sores, inflamed eyes, or wearing bandages
      will not be allowed in the pool.</li>
    <li>The person signing the swim waiver from must be an adult, and if children are suing the swimming pool area, the
      form must be signed by their parent
      or legal guardian. The resident/s and guest/s agree to abide by the  rules stated herein and in the House Rules of
      Azure Residences.</li>
    <li>In any case of lightning occurrence, everyone will  be required to vacate the pool areas for your safety;
      Purcahsed swim bands would still ne non-refundable.</li>
  </ul>

    <ion-item>
      <ion-checkbox class="checkaccept" color="primary" slot="start" (ionChange)="checked($event)" [(ngModel)]="condition"></ion-checkbox>
      <ion-label class="titlecheck">I Accept Terms and Conditions</ion-label>
    </ion-item>
    <ion-grid [hidden]="isChecked">
      <ion-row>
        <ion-col size='12'>
            <ion-button class="btnsubmit" expand="block" (click)="submit('acceptTerms')">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>