<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-button slot="end" (click)="openAmenityBookNow(amenName, amenCode, propCode, unitCode, uType,rate)">Book</ion-button>
    <ion-title class="header_title">{{amenName}}</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page" *ngFor="let res of amenData">
  <ion-card>
    <ion-card-header class="pb-5">
      <div class="carousel">
        <ion-slides pager>
          <ion-slide>
            <div class="carousel_img1"></div>
          </ion-slide>
          <ion-slide>
            <div class="carousel_img2"></div>
          </ion-slide>
          <ion-slide>
            <div class="carousel_img3"></div>
          </ion-slide>
          <ion-slide>
            <div class="carousel_img4"></div>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-card-subtitle>Slide to right <ion-icon class="icon_arrow" name="arrow-forward"></ion-icon></ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content class="pt-0">
      <ion-grid class="nopad">
        <ion-row class="a_row">
          <ion-col size="5">
            <p>Status</p>
          </ion-col>
          <ion-col size="7">
            <p>{{res.amenitiesstatus}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="a_row">
          <ion-col size="5">
            <p>Location</p>
          </ion-col>
          <ion-col size="7">
            <p>{{res.pLocation}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="a_row">
          <ion-col size="5">
            <p>Pre Booking</p>
          </ion-col>
          <ion-col size="7">
            <p>{{res.pBefore}} Day(s)</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="table_schedule">
          <ion-row class="a_row">
              <ion-col size="12" class="table-head">
                <p>Schedule</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">S</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">T</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">W</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">TH</p>
              </ion-col>
              <ion-col size="2">
                <p class="t_center">F</p>
              </ion-col>
              <ion-col size="2">
                  <p class="t_center">M</p>
                </ion-col>
            </ion-row>
            <ion-row class="a_row">
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
              <ion-col size="2" class="c_center">
                  <ion-checkbox checked="true"></ion-checkbox>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <p class="p_note">Note: Mondays are open only during holidays.</p>
              </ion-col>
            </ion-row>
      </ion-grid>

    </ion-card-content>
    <div class="cover_checkbox"></div>
  </ion-card>


  <div class="v_personal">
    <div class="v_title_detail">Description</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="12" [innerHTML]="res.description">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Terms & Conditions</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="12" [innerHTML]="res.termsandcondition">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
