<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons size="small" slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">{{listType}} Details</ion-title>
    </ion-toolbar>
  </ion-header>
    
<ion-content class="card-background-page">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{title}}</ion-card-subtitle>

        </ion-card-header>
      
        <ion-card-content [innerHTML]="desc">
          
        </ion-card-content>
        
        <ion-chip class="ion_chip">
            <ion-icon name="download"></ion-icon>
            <ion-label>Download</ion-label>
        </ion-chip>
      </ion-card>
</ion-content>
