<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons size="small" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="header_title">Visitor Request Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" *ngFor="let res of dataX">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, res.id)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid class="nopad">
    <ion-row>
      <ion-col size="12" class="nopad">
        <div class="visitor_title_div">
          <h2 class="visitor_title">Guest Advice Form</h2>
          <div class="underline"></div>
          <h3 class="visitor_type_title">{{res.vuVisitorType}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="show_modal">
    <a (click)="openModal(res.vtTermsCondition)">Show Description</a>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Visitor</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Visitor Advise No.:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuGuestNo}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Tower Unit No.:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuUnitTowerNo}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div class="v_personal">
    <div class="v_title_detail">Arrival/Departure Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Arrival Date:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuArrivalDate}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Arrival Time:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuArrivalTime | date:'h:mm a'}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Departure Date:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuDepartureDate}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Departure Time:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuDepartureTime | date:'h:mm a'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div class="v_personal">
    <div class="v_title_detail">Primary Visitor Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Name of Primary Visitor:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuNamePrimaryVisitor}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Nationality:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuPrimaryVisitorNationality}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>ID Proof Details:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuIDProof}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Contact Number:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuPrimaryVisitorContactNo}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Email Address:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuPrimaryVisitorEmail}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Address:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuPrimaryVisitorAddress}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Additional Visitor Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="3">
            <p class="font_semibold">Name</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Type</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Checked In</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Checked Out</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
            <ion-col size="3">
              <p>{{res.vuNamePrimaryVisitor}} (Primary)</p>
            </ion-col>
            <ion-col size="3">
              <p>Adult</p>
            </ion-col>
            <ion-col size="3">
              <p>{{res.vuCheckInPrimaryDate}}</p>
            </ion-col>
            <ion-col size="3">
              <p>{{res.vuCheckOutPrimaryDate}}</p>
            </ion-col>
          </ion-row>
        <ion-row class="v-row" *ngFor="let rex of dataAdd; let i = index">
          <ion-col size="3">
            <p>{{rex[i].avName}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{rex[i].avMaturity}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{rex[i].avCheckInDate}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{rex[i].avCheckOutDate}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Vehicle Details</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="3">
            <p class="font_semibold">Type</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Make and Model</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Color</p>
          </ion-col>
          <ion-col size="3">
            <p class="font_semibold">Plate No.</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row" *ngFor="let rex of vehData; let i = index">
          <ion-col size="3">
            <p>{{rex[i].Type}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{rex[i].Model}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{rex[i].Color}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{rex[i].Plate}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">Additional Remarks</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">

          <ion-col size="6">
            <p>Remark:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuAdditionalRemarks}}</p>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>
  </div>

  <div class="v_personal">
    <div class="v_title_detail">To be Filled By Admin</div>
    <div class="v_details">
      <ion-grid class="nopad">
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Remark:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuRemarksByAdmin}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="v-row">
          <ion-col size="6">
            <p>Status:</p>
          </ion-col>
          <ion-col size="6">
            <p class="text-right">{{res.vuApprovalStatus}}</p>
            <!-- <p class="text-right">Admin: Azure Urban</p>
            <p class="text-right">06/11/19 4:00 PM</p> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-grid class="btns" *ngIf="res.vuApprovalStatus == 'Pending' && res.vuRequestStatus != 'Cancelled'">
    <ion-row class="v-row pt-0">
      <ion-col size="12" class="pt-0">
        <ion-button color="primary" expand="block" (click)="confirmCancel(res.id)">Cancel Request</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>