
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<ion-content class="loginbg">
    <form class="box" (submit)="onSubmit(user.value, pass.value)">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div class="divimg">
              <img class="imgloginlogo" src="/assets/azurel.png">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <h1>Login</h1>
      <input type="text" #user  class="required user" required placeholder="Username">
      <input type="password" #pass class="required" required placeholder="Password">
      <input type="submit" value="Login">
    </form>
</ion-content>
