<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons size="small" slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">{{ListType}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar class="searchbars" color="dark"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
    
<ion-content class="card-background-page" *ngIf="ListType == 'Rules'">
    <ion-list class="list-notice" *ngFor="let res of Data; let i = index">
        <ion-item (click)="openRulesDetails(res[i].title, ListType, res[i].ruleDescription, res[i].documentpath)">{{res[i].title}}
            <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-item>
    </ion-list>
</ion-content>

<ion-content class="card-background-page" *ngIf="ListType == 'Notice Board'">
    <ion-list class="list-notice" *ngFor="let res of Data; let i = index">
        <ion-item (click)="openRulesDetails(res[i].title, ListType, res[i].noticeDescription, res[i].documentpath)">{{res[i].title}}
            <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-item>
    </ion-list>
</ion-content>

<ion-content class="card-background-page" *ngIf="ListType == 'News'">
    <ion-list class="list-notice" *ngFor="let res of Data; let i = index">
        <ion-item (click)="openRulesDetails(res[i].title, ListType, res[i].Description, res[i].documentpath)">{{res[i].title}}
            <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-item>
    </ion-list>
</ion-content>

<ion-content class="card-background-page" *ngIf="ListType == 'Holiday/Important Date'">
    <ion-list class="list-notice" *ngFor="let res of Data; let i = index">
        <ion-item (click)="openRulesDetails(res[i].title, ListType, res[i].Description, res[i].documentpath)">{{res[i].title}}
            <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-item>
    </ion-list>
</ion-content>

<ion-content class="card-background-page" *ngIf="ListType == 'Important Location'">
    <ion-list class="list-notice" *ngFor="let res of Data; let i = index">
        <ion-item (click)="openRulesDetails(res[i].title, ListType, res[i].description, res[i].documentpath)">{{res[i].title}}
            <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-item>
    </ion-list>
</ion-content>
