@font-face {
    font-family: 'Assistant_light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/assistant-light.woff2);
}
@font-face {
    font-family: 'Assistant_reg';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/assistant-reg.woff2);
}
@font-face {
    font-family: 'Assistant_semibold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/assistant-semibold.woff2);
}
@font-face {
    font-family: 'Assistant_bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/assistant-bold.woff2);
}
@font-face {
    font-family: 'Assistant_extrabold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/assistant-extrabold.woff2);
}
h2,
p,
 ion-content {font-family: 'Assistant_reg';}

.loginbg {
    --background: #072549;
}

.font_reg {font-family: 'Assistant_reg';}
.font_light {font-family: 'Assistant_light';}
.font_semibold {font-family: 'Assistant_semibold';}
.font_bold {font-family: 'Assistant_bold';}
.font_extrabold {font-family: 'Assistant_extrabold';}

.title_header {text-align: center; font-size: 14px;}
ion-content {
    font-family: 'Assistant_reg';
}
.divbg {
    position: relative;
    text-align: center;
    margin: 0;
    height: 100vh;
    border-radius: 0;
}
ion-back-button {
    position: absolute;
}
.box2 {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box2 h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Assistant_bold';
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 5px;
}
.box2 .inputext::placeholder {
    color:#aaaaaa;
}
.box2 input[type = "text"],
.box input[type = "password"],
.box2 input[type = "email"] {
    border: 0;
    background: none;
    display: block;
    margin: 13px auto;
    text-align: center;
    border: 2px solid #0653ac;
    padding: 10px;
    width: 240px;
    outline: none;
    color: #ffffff;
    border-radius: 24px;
    transition: 0.25s;
    margin-bottom: 10px;
    font-size: 14px;
}
.box2 input[type = "text"]:focus, 
.box input[type = "password"]:focus,
.box2 input[type = "email"]:focus {
    width: 260px;
    border-color: #0967d3;
}
.box2 input[type = "submit"] {
    border: 0;
    background: linear-gradient(to right, #0967d3, #09a0d3);
    margin: 11px auto;
    text-align: center;
    padding: 7px 40px;
    color: white;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: 'Assistant_bold';
    margin-top: 0;
}
.imgloginlogo {
    width: 50%;
    margin: 0 auto;
}

.divimg {
    background-color: transparent!important;
    border: none!important;
    border-radius: 2px;
    text-align: center;
    margin-top: 4.5vh;
}
.rowtop {
    padding: 0 5px;
}
.nomargtop {margin-top: 0!important;}
.nopad {padding: 0!important;}
.mat-6 {margin-top: 6px!important;}
.backbtn {
    width: 100%;
    position: relative;
    top: 2.5vh;
    left: 2vh;
    text-align: left;
}
.backbtn a {
    position: absolute;
    left: 0;
    color: #a0b1c5;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 13px;
}