<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons size="small" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title_header">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divbg">
    <ion-grid>
      <ion-row class="rowtop">
        <ion-col size="12">
          <input class="inputext" id="email" type="email" placeholder="Email adress" (keyup)="emailCheck()">
          <input class="inputext" id="textCode" type="text" placeholder="Input Code" style="display: none;" (keyup)="codeCheck()" maxlength="5">
          <input class="inputext password" id="password1" type="text" placeholder="New Password" style="display: none;" (keyup)="passCheck()">
          <input class="inputext password" id="password2" type="text" placeholder="Confirm Password" style="display: none;" (keyup)="passCheck()">
          <ion-button expand="block" style="display: none;" id="sendEmail" (click)="sendCodeReset()">Send Code</ion-button>
          <ion-button expand="block" style="display: none;" id="confirmPassword" (click)="confirmPassword()">Change password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
