<!-- <ion-header>
  <ion-toolbar color="primary">
    
    <ion-title class="title_header">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="loginbg">
  <div class="divbg">
    <div class="backbtn" (click)="returnLogin()">
      <a (click)="returnLogin()" class="backbtn">Back to Login</a>
    </div>
    <div class="box2">
      <ion-grid class="nopad">
        <ion-row>
          <ion-col col-6 class="nopad">
            <div class="divimg">
              <img class="imgloginlogo" src="/assets/azurel.png">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h1 class="titleforgot">Forgot Password</h1>

      <ion-grid>
        <ion-row class="rowtop">
          <ion-col size="12">
            <input class="inputext nomargtop" id="email" type="email" placeholder="Email adress">
            <input class="inputext" id="textCode" type="text" placeholder="Input Code" (keyup)="codeCheck()" maxlength="5" style="display: none;">
            <input class="inputext password" id="password1" type="text" placeholder="New Password" (keyup)="passCheck()" style="display: none;">
            <input class="inputext password" id="password2" type="text" placeholder="Confirm Password" (keyup)="passCheck()" style="display: none;">
            <!-- <ion-button expand="block" id="sendEmail" (click)="checkEmail()">Verify Email</ion-button>
            <ion-button expand="block" id="sendEmail" (click)="sendCodeReset()">Send Code</ion-button>
            <ion-button expand="block" id="confirmPassword" (click)="confirmPassword()">Change password</ion-button> -->

            <input class="mat-6" type="submit" id="verifyEmail" value="Verify Email" (click)="checkEmail()">
            <input type="submit" id="sendEmail" value="Send Code" (click)="sendCodeReset()" style="display: none;">
            <input type="submit" id="confirmPassword" value="Update password" (click)="confirmPassword()" style="display: none;">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
