@font-face {
    font-family: 'Assistant_light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/assistant-light.woff2);
}
@font-face {
    font-family: 'Assistant_reg';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/assistant-reg.woff2);
}
@font-face {
    font-family: 'Assistant_semibold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/assistant-semibold.woff2);
}
@font-face {
    font-family: 'Assistant_bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/assistant-bold.woff2);
}
@font-face {
    font-family: 'Assistant_extrabold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/assistant-extrabold.woff2);
}
h2,
p,
 ion-content {font-family: 'Assistant_reg';}

.font_reg {font-family: 'Assistant_reg';}
.font_light {font-family: 'Assistant_light';}
.font_semibold {font-family: 'Assistant_semibold';}
.font_bold {font-family: 'Assistant_bold';}
.font_extrabold {font-family: 'Assistant_extrabold';}

.title_header {text-align: center; font-size: 14px;}
ion-content {
    font-family: 'Assistant_reg';
}
.divbg {
    position: relative;
    background-image: url("/assets/unitbg.jpg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    height: 100vh;
    border-radius: 0;
}
ion-back-button {
    position: absolute;
}
.inputext {
    border: none;
    width: 100%;
    box-shadow: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    height: 30px;
    font-size: 12px;
    padding-bottom: 0;
    border-bottom: 2px solid #afafaf;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 3px;
    background: #00adff8c;
    color: #fff;
}
.inputext::placeholder {
    color: #fff;
}
.inputext:focus {
    outline: 0;
    box-shadow: none;
    border-bottom: 2px solid rgb(22, 127, 247);
}
.rowtop {
    padding: 0 5px;
    margin-top: 15px;
}