<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons size="small" slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class="header_title">Amenity Booking List</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="card-background-page">
  <ion-list>
    <ion-list-header>UNIT {{unit_no}}</ion-list-header>
    <ion-item *ngFor="let res of dataX; let i = index" (click)="openBookingDetails(res[i].referrenceNo)">
      <ion-avatar class="avatar_amenities" slot="start">
          <img class="img_amenity" src="/assets/azurebeach.png">
        </ion-avatar>
        <ion-label class="label_div">
          <h2>{{res[i].amenityName}}</h2>
          <p class="text_sublabels"><ion-icon name="calendar"></ion-icon> {{res[i].bookingdate}}</p>
          <p class="text_sublabels"><ion-icon name="time"></ion-icon> {{res[i].timeSlots}}</p>
          <img class="img_arrow" src="assets/arrow_right_blue.png">
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
