<ion-header>
    <ion-toolbar color="primary">
        <!-- <ion-button class="btn_back" routerLink="/tabs/tab1/unit-details"></ion-button> 
        <img class="imgBack" src="/assets/arrow_left_white.png"> -->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title class="header_title">Tenant Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="card-background-page">
    <ion-card class="banner-card">
        <div class="banner-tenant">
          <div class="img_tenant_border">
              <div class="img_tenant"></div>
          </div>
            <p class="tenant_name">Duane Brick</p>
            <p class="tenant_title">Tenant - 101</p>
        </div>
    </ion-card>
      
    <ion-grid>
      <ion-row class="tenant-row">
        <ion-col size="12" class="col-tenant-details">
          <p class="tenant_type">Email</p>
          <p class="tenant_type_name">Email@email.com</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Contact Number</p>
            <p class="tenant_type_name">09123456789</p>
          </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Gender</p>
            <p class="tenant_type_name">Male</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Occupation</p>
            <p class="tenant_type_name">Employee</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Date of Birth</p>
            <p class="tenant_type_name">July 2, 2000</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Move-in Date</p>
            <p class="tenant_type_name">July 1, 2018</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Intercom No.</p>
            <p class="tenant_type_name">None</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Turn-over Date</p>
            <p class="tenant_type_name">July 3, 2020</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Agreement Start Date</p>
            <p class="tenant_type_name">July 3, 2019</p>
        </ion-col>
        <ion-col size="12" class="col-tenant-details">
            <p class="tenant_type">Agreement End Date</p>
            <p class="tenant_type_name">July 3, 2020</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  